<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A1_Juese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,34}</string>
                <key>spriteSourceSize</key>
                <string>{65,34}</string>
                <key>textureRect</key>
                <string>{{256,436},{65,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2_Dengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,37}</string>
                <key>spriteSourceSize</key>
                <string>{69,37}</string>
                <key>textureRect</key>
                <string>{{108,373},{69,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A3_Huti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,32}</string>
                <key>spriteSourceSize</key>
                <string>{69,32}</string>
                <key>textureRect</key>
                <string>{{323,436},{69,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A3_dalu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,34}</string>
                <key>spriteSourceSize</key>
                <string>{145,34}</string>
                <key>textureRect</key>
                <string>{{340,155},{145,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A4_Neijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,34}</string>
                <key>textureRect</key>
                <string>{{316,472},{60,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A5_Jingjie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{179,362},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A6_Weiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,35}</string>
                <key>spriteSourceSize</key>
                <string>{67,35}</string>
                <key>textureRect</key>
                <string>{{184,473},{67,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B1_Beibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{113,412},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B1_Fenjie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{180,399},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B2_Cangku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{435,227},{71,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B3_Huishou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{68,30}</string>
                <key>textureRect</key>
                <string>{{378,470},{68,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B4_Hecheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,36}</string>
                <key>spriteSourceSize</key>
                <string>{71,36}</string>
                <key>textureRect</key>
                <string>{{429,266},{71,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B5_Fenjie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,35}</string>
                <key>spriteSourceSize</key>
                <string>{71,35}</string>
                <key>textureRect</key>
                <string>{{252,362},{71,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueDayFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,27}</string>
                <key>spriteSourceSize</key>
                <string>{87,27}</string>
                <key>textureRect</key>
                <string>{{419,31},{87,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTeQuanFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,27}</string>
                <key>spriteSourceSize</key>
                <string>{88,27}</string>
                <key>textureRect</key>
                <string>{{419,2},{88,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueTitleFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,36}</string>
                <key>spriteSourceSize</key>
                <string>{143,36}</string>
                <key>textureRect</key>
                <string>{{2,156},{143,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueUpLvFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{86,27}</string>
                <key>textureRect</key>
                <string>{{413,60},{86,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueXinShouFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,27}</string>
                <key>spriteSourceSize</key>
                <string>{86,27}</string>
                <key>textureRect</key>
                <string>{{421,304},{86,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_BuyQuick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,27}</string>
                <key>spriteSourceSize</key>
                <string>{105,27}</string>
                <key>textureRect</key>
                <string>{{269,333},{105,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_buyall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,34}</string>
                <key>spriteSourceSize</key>
                <string>{141,34}</string>
                <key>textureRect</key>
                <string>{{289,229},{141,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,35}</string>
                <key>spriteSourceSize</key>
                <string>{141,35}</string>
                <key>textureRect</key>
                <string>{{2,232},{141,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,31}</string>
                <key>spriteSourceSize</key>
                <string>{67,31}</string>
                <key>textureRect</key>
                <string>{{325,365},{67,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_useall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,34}</string>
                <key>spriteSourceSize</key>
                <string>{139,34}</string>
                <key>textureRect</key>
                <string>{{288,265},{139,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChuanSong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{435,191},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FCM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,33}</string>
                <key>spriteSourceSize</key>
                <string>{175,33}</string>
                <key>textureRect</key>
                <string>{{2,121},{175,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,31}</string>
                <key>spriteSourceSize</key>
                <string>{129,31}</string>
                <key>textureRect</key>
                <string>{{378,89},{129,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,29}</string>
                <key>spriteSourceSize</key>
                <string>{199,29}</string>
                <key>textureRect</key>
                <string>{{218,2},{199,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,41}</string>
                <key>spriteSourceSize</key>
                <string>{192,41}</string>
                <key>textureRect</key>
                <string>{{2,40},{192,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,40}</string>
                <key>spriteSourceSize</key>
                <string>{142,40}</string>
                <key>textureRect</key>
                <string>{{147,181},{142,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,37}</string>
                <key>spriteSourceSize</key>
                <string>{193,37}</string>
                <key>textureRect</key>
                <string>{{218,33},{193,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,30}</string>
                <key>spriteSourceSize</key>
                <string>{177,30}</string>
                <key>textureRect</key>
                <string>{{183,110},{177,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FWZD_BG6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,42}</string>
                <key>spriteSourceSize</key>
                <string>{109,42}</string>
                <key>textureRect</key>
                <string>{{2,421},{109,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,36}</string>
                <key>spriteSourceSize</key>
                <string>{179,36}</string>
                <key>textureRect</key>
                <string>{{2,83},{179,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,36}</string>
                <key>spriteSourceSize</key>
                <string>{180,36}</string>
                <key>textureRect</key>
                <string>{{196,72},{180,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font_DevilHome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{2,465},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,31}</string>
                <key>spriteSourceSize</key>
                <string>{148,31}</string>
                <key>textureRect</key>
                <string>{{362,122},{148,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Font_xbck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,37}</string>
                <key>spriteSourceSize</key>
                <string>{141,37}</string>
                <key>textureRect</key>
                <string>{{146,223},{141,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JinaBOSS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,37}</string>
                <key>spriteSourceSize</key>
                <string>{159,37}</string>
                <key>textureRect</key>
                <string>{{179,142},{159,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Littlehecheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{2,194},{142,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OneKeyTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{394,431},{115,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OneKeyWearTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,31}</string>
                <key>spriteSourceSize</key>
                <string>{115,31}</string>
                <key>textureRect</key>
                <string>{{394,398},{115,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PetSkillArt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{2,341},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Role_xinmo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{70,36}</string>
                <key>textureRect</key>
                <string>{{112,465},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SX_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,35}</string>
                <key>spriteSourceSize</key>
                <string>{61,35}</string>
                <key>textureRect</key>
                <string>{{253,473},{61,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkillArtFont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{184,436},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VipGongZi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{376,333},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VipUpArt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,35}</string>
                <key>spriteSourceSize</key>
                <string>{136,35}</string>
                <key>textureRect</key>
                <string>{{2,304},{136,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zhiliao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{325,398},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{2,373},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bufftitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,30}</string>
                <key>spriteSourceSize</key>
                <string>{134,30}</string>
                <key>textureRect</key>
                <string>{{285,301},{134,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongtianfudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,31}</string>
                <key>spriteSourceSize</key>
                <string>{138,31}</string>
                <key>textureRect</key>
                <string>{{145,298},{138,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fulidating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,34}</string>
                <key>spriteSourceSize</key>
                <string>{141,34}</string>
                <key>textureRect</key>
                <string>{{145,262},{141,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guajishouyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,36}</string>
                <key>spriteSourceSize</key>
                <string>{214,36}</string>
                <key>textureRect</key>
                <string>{{2,2},{214,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mowangdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,36}</string>
                <key>spriteSourceSize</key>
                <string>{108,36}</string>
                <key>textureRect</key>
                <string>{{2,465},{108,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilingshengdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,29}</string>
                <key>spriteSourceSize</key>
                <string>{127,29}</string>
                <key>textureRect</key>
                <string>{{140,331},{127,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,31}</string>
                <key>spriteSourceSize</key>
                <string>{116,31}</string>
                <key>textureRect</key>
                <string>{{394,365},{116,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingchenshengyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,33}</string>
                <key>spriteSourceSize</key>
                <string>{141,33}</string>
                <key>textureRect</key>
                <string>{{2,269},{141,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinmolianhuaArt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,36}</string>
                <key>spriteSourceSize</key>
                <string>{142,36}</string>
                <key>textureRect</key>
                <string>{{291,191},{142,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuhun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,35}</string>
                <key>spriteSourceSize</key>
                <string>{70,35}</string>
                <key>textureRect</key>
                <string>{{253,399},{70,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ArtFont.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e85bf76d86dd1bd089883351e1b9e40:36809896edd6b0b34395da756d1280dc:67556b97f13f5b52de6569cdc617db49$</string>
            <key>textureFileName</key>
            <string>ArtFont.png</string>
        </dict>
    </dict>
</plist>
